- @page = "projects"

%ul#projects
  %li.page-title
    %h2
      .pull-left
        Hobbes
      .pull-right
        July 2012 - Current
    .image
      %img{ alt: 'Coming Soon', src: '/img/projects/hobbes.jpeg', height: '300', width: '600' }/
    .description
      Hobbes is an internal tool for a company and is currently in development. Hobbes lets users send high volume email campaigns and track them in real time - with advanced reporting capabilities.
      It also lets users publish web pages, forms which can collect data and accept payments, with all sorts of analytics. I'm the tech lead responsible for development.

  - data.projects.projects.each do |project|
    %li.page-title
      %h2
        .pull-left
          = project['name']
        .pull-right
          = project['date']
      .image
        = link_to project['url'], target: '_blank' do
          %img{ alt: project['name'], src: project['image_url'], height: '300', width: '600' }/
      .description
        = project['description']
