- wrap_layout :layout do
  - @page = "blog"

  .page-title
    %h2
      .pull-left
        = current_article.title
      .pull-right
        = current_article.date.strftime('%b %d %Y')
  .blog-body
    = render_blog_body(current_article.body)
