<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{lang: "en"}
  / <![endif]
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv"=> "X-UA-Compatible" }
    %meta{ name: "description", content: "Home of Akshay Rawat" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ description: "Works of Akshay Rawat" }

    %title Works of Akshay Rawat

    %link{ rel: 'author', href: 'humans.txt'}
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'

  %body{ class: @page}
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    #top-bg
    #page.container-fluid
      .row-fluid
        .span3
          %aside#sidebar
            = partial 'sidebar'
        .span9
          %section#main
            = yield
      #page-footer

    %footer
      Made with Middleman &bull; Hosted on Github
