body.blogs
  ul#posts
    li
      padding: 8px 0
      overflow: hidden
      .title
        float: left
      .timestamp
        float: right
        width: 200px
        font-size: 10px
        letter-spacing: 3px

  .blog-body
    padding-right: 20px
    ul
      margin-left: 15px
      li
        list-style-type: disc
    pre
      background: inherit
      padding: 0
      margin: 0
      border: 0
      vertical-align: baseline
      font-size: 100%
    h4
      text-transform: uppercase
      margin: 28px 0 12px 0
      letter-spacing: 1px
      color: black
      font-size: 12px
      font-weight: bold
  .comments
    padding-right: 20px
    border-top: 1px solid #CCC
    margin-top: 50px
    padding-top: 50px

@media(max-width: 767px)
  #posts .title
    width: 250px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
